{{ $dimenbase := .Get "dimenbase" | default "24" }}

{{ $moeda := .Get "moeda" }}
{{ $dir := .Get "dir" }}
{{ $cor := .Get "cor" }}

{{ $ancho := .Get "ancho" }}
{{ $alto := .Get "alto" }}

{{ if not $ancho }}
    {{ if $alto }}
        {{ $ancho = $alto }}
    {{ else }}
        {{ $ancho = $dimenbase }}
    {{ end }}
{{ end }}

{{ if not $alto }}
    {{ $alto = $ancho }}
{{ end }}



<div class="icon" fill="currentColor" style="display: inline; word-break: break-all; padding: 2px; color: var(--color-text)">
    {{ if $dir }}
    <a rel="noopener" target="_blank" onclick="copyToClipboard('{{ $dir }}')">
    {{ end }}
        {{ if or (eq $cor "si") (eq $cor "orixinal") }}
        {{ if (eq $moeda "bitcoin") }}
        <svg width="{{ $ancho }}" height="{{ $alto }}" xmlns="http://www.w3.org/2000/svg">
            <image xlink:href="https://raw.githubusercontent.com/Ran-n/media/main/divisas/bitcoin/bitcoin_0.svg" width="100%" height="100%"/>
        </svg>
        {{ end }}
        {{ if (eq $moeda "monero") }}
        <svg width="{{ $ancho }}" height="{{ $alto }}" xmlns="http://www.w3.org/2000/svg">
            <image xlink:href="https://raw.githubusercontent.com/Ran-n/media/main/divisas/monero/monero_0.svg" width="100%" height="100%"/>
        </svg>
        {{ end }}
        {{ if (eq $moeda "wownero") }}
        <svg width="{{ $ancho }}" height="{{ $alto }}" xmlns="http://www.w3.org/2000/svg">
            <image xlink:href="https://raw.githubusercontent.com/Ran-n/media/main/divisas/wownero/wownero_0.svg" width="100%" height="100%"/>
        </svg>
        {{ end }}
        {{ else if or (not $cor) (eq $cor "non") }}
        {{ if (eq $moeda "bitcoin") }}
        <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="{{ $ancho }}" height="{{ $alto }}" fill="currentColor">
            <title>Bitcoin</title>
            {{- partial "bitcoin_nc" -}}
        </svg>
        {{ end }}
        {{ if (eq $moeda "monero") }}
        <br>
        <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="{{ $ancho }}" height="{{ $alto }}" fill="currentColor">
            <title>Monero</title>
            {{- partial "monero_nc" -}}
        </svg>
        {{ end }}
        {{ if (eq $moeda "wownero") }}
        <svg role="img" viewBox="0 0 496 512" xmlns="http://www.w3.org/2000/svg" width="{{ $ancho }}" height="{{ $alto }}" fill="currentColor">
            <title>Wownero</title>
            {{- partial "wownero_nc" -}}
        </svg>
        {{ end }}
        {{ end }}
        &nbsp;
        <label id="{{ $dir }}_dir">{{ $dir }}</label>
    {{ if $dir }}
    </a>
    {{ end }}
   <label id="{{ $dir }}_mensaxe">
</div>
<script>
    const copyToClipboard = (elementId) => {
        const temp = document.createElement("input");
        const text = document.getElementById(elementId+"_dir").innerHTML;
        temp.setAttribute("value", text);
        document.body.appendChild(temp);
        temp.select();
        document.execCommand("copy");
        document.body.removeChild(temp);


        document.getElementById(elementId+"_mensaxe").innerHTML="✔️"


        setTimeout(function(){
                        document.getElementById(elementId+"_mensaxe").innerHTML="";
                    },1000);
    };
</script>
